.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  /* display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%; */
  display: grid;
  height: 90%;
  grid-gap: 0.25rem;
  grid-template-columns: 100%;
  grid-template-rows: 0.5fr 4fr;
}
